<!DOCTYPE html>
<html lang="en">
<head>
 
</head>

<body>
            
            <ul>
            <a href="guitargirl.html"><img class="img_mini" src= "img/guitargirl_pf.png" alt="기타걸pf"></a>
            <p><li>guitar_girl</li></p>
            <a href="schoolboy.html"><img class="img_mini" src= "img/schoolboy_pf.png" alt="스쿨보이pf"></a>
            <p><li>school_boy</li></p>
            <a href="tsunderegirl.html"><img class="img_mini" src= "img/tsunderegirl_pf.png" alt="츤데레걸pf"></a>
            <p><li>tsundere_girl</li></p>
            </ul>
            
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>  
    </body>

</html>
