<!DOCTYPE html>
<html lang="en">
<head>
  
</head>

<body>
 
        <div>
                <h1><a href="index.html">キャラクト</a></h1>
            </div>
            <hr>
            
            <ul>
            <a><img class="img_profile" src= "img/happy_schoolboy.png" alt="스쿨보이"></a>
            <p><li>公式img</li></p>
            <li>名前：happy_schoolboy[ハッピースクールボーイ]</li>
            <p><li>年齢：17歳（推定)</li></p>
            <p><li>趣味：コント</li></p>
            <p><li>特技：笑う方法の研究</li></p>
            <p><li>原作：<a href="https://www.irasutoya.com/" target="_blank">イラストや</a></li></p>
            </ul>
            
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>  
    </body>

</html>
